@media screen and (max-width: 768px) {
  main {
    flex-wrap: wrap;
  }
  .perfil {
    width: 100%;
  }
  .articulos {
    width: 100%;
  }
  .estadistica--perfil,
  .galeria,
  .ubicacion--perfil {
    width: 80%;
  }
  .galeria {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px 20px;

    h2 {
      width: 100%;
    }
    &__foto-principal {
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    &__fotos-adicionales {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      img {
      }
    }
  }
}
