.perfil {
  width: 60%;
  padding-top: 50px;
  color: $color-secundario;
  background-color: $color-claro;
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    text-align: center;
    font-size: 20px;
    @include titulos($Fuente2);
  }
  &__titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: get-opacity($color-variacion, 0.5);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    @include titulos($Fuente2);
    color: $color-claro;
    background-color: get-opacity($color-primario, 0.9);
    border: 2px solid get-opacity($color-claro, 0.3);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
